<form action="/mushrooms" method="post">
  <label for="mushroom[name]">NAME:</label>
  <input name="mushroom[name]" type="text">

  <label for="mushroom[properties]">PROPERTIES:</label>
  <input name="mushroom[properties]" type="text">

  <label for="mushroom[image]">IMAGE:</label>
  <input name="mushroom[image]" type="text">

  <input type="submit" value="create">


</form>