<!DOCTYPE html>
<html>
<head>
  <title>MushroomsOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <h1>MushroomsOnRails</h1>
    <a href="/mushrooms">HOME</a>
    <a href="/mushrooms/new">ADD A MUSHROOM TO THE DATABASE!</a>
  </nav>

<%= yield %>

</body>
</html>
